{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/sharestuff.css' %}">
    <script src="https://use.fontawesome.com/e53afee248.js"></script>



</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <a href="/">
  <h1>Kunnskapsdeleren
    <small>BETA</small>
  </h1>
</a>
  <p class="lead">
  En enkel måte å dele og finne undervisningsopplegg på.
  </p>
  <div class="userinfo">
    {% if user.is_authenticated %}
    Du er logget på som
    <a href="{% url 'profile' %}">{{ user.username }}</a> |
    <a href="{% url 'logout' %}">
      Logg ut
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </a>
    {% endif %}
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}">
      Logg inn
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </a>
    {% endif %}
  </div>
  </div>
  <ul class="nav nav-tabs">
    {% if request.path == '/' %}
    <li role="presentation" class="active"><a href="{% url 'givetake' %}">Hjem</a></li>
    {% else %}
    <li role="presentation"><a href="{% url 'givetake' %}">Hjem</a></li>
    {% endif %}
    {% if request.path == '/give' %}
    <li role="presentation" class="active"><a href="{% url 'give' %}">Del</a></li>
    {% else %}
    <li role="presentation"><a href="{% url 'give' %}">Del</a></li>
    {% endif %}
    {% if request.path == '/take' %}
    <li role="presentation" class="active"><a href="{% url 'take' %}">Finn</a></li>
    {% else %}
    <li role="presentation"><a href="{% url 'take' %}">Finn</a></li>
    {% endif %}
    {% if request.path == '/search' %}
    <li role="presentation" class="active"><a href="{% url 'search' %}">Søk</a></li>
    {% else %}
    <li role="presentation"><a href="{% url 'search' %}">Søk</a></li>
    {% endif %}
    {% if user.is_authenticated %}
    {% if request.path == '/p' %}
    <li role="presentation" class="active"><a href="{% url 'profile' %}">Min Profil</a></li>
    {% else %}
    <li role="presentation"><a href="{% url 'profile' %}">Min Profil</a></li>
    {% endif %}
    {% endif %}
    </ul>

{% block content %}
{% endblock %}
</div>
</body>
</html>
