{% extends 'sharestuff/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">

<div class="col-md-4">
  <h1>
    <i class="fa fa-heart" aria-hidden="true"></i>
    Favoritter</h1>
{% for ting in likte_titler %}
<p><a href="{% url 'details' pk=ting.pk %}">{{ ting }}</a></p>
{% endfor %}
</div>
<div class="col-md-4">
<h1>
<i class="fa fa-gift" aria-hidden="true"></i>
  Delt </h1>
{% for ting in har_delt %}
<p><a href="{% url 'details' pk=ting.pk %}">{{ ting }}</a></p>
{% endfor %}
{% if har_delt_privat|length > 0 %}
<h1>Privat</h2>
{% for ting in har_delt_privat %}
<p><a href="{% url 'details' pk=ting.pk %}">{{ ting }}</a></p>
{% endfor %}
{% endif %}


</div>


<div class="col-md-4">
<h1>
<i class="fa fa-user" aria-hidden="true"></i>
  Brukerinfo</h1>
<p>Brukernavn: {{ request.user }}</p>
<p>E-post: {{ request.user.email }}</p>
<p>
  <a href="{%url 'changepassword' %}">
    <i class="fa fa-gift" aria-hidden="true"></i>
    Endre passord
  </a>
</p>



<h1>Grupper
<a href="{% url 'addgroup' %}"><i class="fa fa-plus" aria-hidden="true"></i></a>
</h1>

{% for group in group_membership %}
<p>
<a href="{% url 'group' pk=group.pk %}">{{ group.title }}</a>
</p>
{% endfor %}

</div>

</div>
{% endblock %}
