{% extends 'sharestuff/base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-6">
<h1>Hva leter du etter?</h1>

<form method="POST" class="form-inline">{% csrf_token %}
  {{ form.non_field_errors }}
  <div class="form-group">
    {{ form.searchterms.errors }}
    <label for="{{ form.searchterms.id_for_label }}" />
    <input id="id_searchterms" class="form-control" maxlength="200" name="searchterms" type="text"
    value="{{ sterm }}" required />
  </div>
<button type="submit" class="btn btn-info" value="search">Søk</button>
</form>
</div>
<div class="col-md-6">
{% if hashstatus is True %}
<h1>Treff på #hashtags</h1>
{% for item in hashres %}
<a href="{% url 'tags' pk=item.pk %}">{{ item.hashtag }}</a>
{% endfor %}
{% endif %}
</div>
</div>
<div>
{% if tittelstatus is True %}
<h1>Treff på innhold</h1>
<ul class="list-group">
{% for teaching in tittelres %}
<li class="list-group-item list">
<a href="{% url 'details' pk=teaching.pk %}">
  {% if teaching.mediatype == 'youtube' %}
  <i class="fa fa-youtube" aria-hidden="true"></i>
  {% endif %}
  {% if teaching.mediatype == 'powerpoint' %}
  <i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
  {% endif %}
  {% if teaching.mediatype == 'text' %}
  <i class="fa fa-file-text-o" aria-hidden="true"></i>
  {% endif %}
  {% if teaching.mediatype == 'zip' %}
  <i class="fa fa-file-zip-o" aria-hidden="true"></i>
  {% endif %}
  {% if teaching.mediatype == 'www' %}
  <i class="fa fa-external-link" aria-hidden="true"></i>
  {% endif %}
  {% if teaching.mediatype == '' %}
  <i class="fa fa-question-circle" aria-hidden="true"></i>
  {% endif %}

  {{ teaching.tittel }} | {{ teaching.fag }} | {{ teaching.klasse }}
  {% if teaching.likes > 0 %}
  <i class="fa fa-heart-o" aria-hidden="true"></i>
  <span class="badge ra">{{ teaching.likes }}</span>
  {% endif %}
</a>

</li>
{% endfor %}
</ul>


{% endif %}
</div>

{% endblock %}
