{% extends 'sharestuff/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-md-8">
<h1>{{ tag.hashtag }}</h1>
<p class="minfo">Klikk på prosjektet for å se detaljer og få tilgang til ressurser</p>
<ul class="list-group">
{% for teaching in ressurser %}
<li class="list-group-item list">
<a href="{% url 'details' pk=teaching.pk %}">
{% if teaching.mediatype == 'youtube' %}
<i class="fa fa-youtube" aria-hidden="true"></i>
{% endif %}
{% if teaching.mediatype == 'powerpoint' %}
<i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
{% endif %}
{% if teaching.mediatype == 'text' %}
<i class="fa fa-file-text-o" aria-hidden="true"></i>
{% endif %}
{% if teaching.mediatype == 'zip' %}
<i class="fa fa-file-zip-o" aria-hidden="true"></i>
{% endif %}
{% if teaching.mediatype == 'www' %}
<i class="fa fa-external-link" aria-hidden="true"></i>
{% endif %}
{% if teaching.mediatype == '' %}
<i class="fa fa-question-circle" aria-hidden="true"></i>
{% endif %}

{{ teaching.tittel }} | {{ teaching.fag }} | {{ teaching.klasse }}
{% if teaching.likes > 0 %}
<i class="fa fa-heart-o" aria-hidden="true"></i>
<span class="badge ra">{{ teaching.likes }}</span>
{% endif %}
</a>

</li>
{% endfor %}
</ul>
</div>

<div class="col-md-4">
<h1>#tags</h1>
{% for hashtag in tags %}
<a href="{% url 'tags' pk=hashtag.pk %}">{{ hashtag.hashtag }}</a>
{% endfor %}

</div>
</div>
{% endblock %}
